.custom-image-class {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blue-text {
    color: #003366; 
    font-weight: bold; 
}

.bd-sidebar .bd-toc-item ul.nav li.toctree-l1 > a {
    font-weight: bold !important;
}

.bd-sidebar .bd-toc-item ul.nav li.toctree-l2 > a,
nav.bd-links ul.nav.bd-sidenav li.toctree-l2 > a.reference.internal {
    font-weight: normal;
    font-size: 0.95em;
}