.custom-image-class {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blue-text {
    color: #003366; /* bleu foncé */
    font-weight: bold; /* optionnel */
}